.button-oke{
  margin: 10px 20px;
  background-color: chartreuse;
  color: white;
  border-color: chartreuse;
  border-radius: 5px;
}

.button-oke:hover{
  background-color: rgb(95, 175, 15);
  border-color: rgb(95, 175, 15);
}